<div class="container">
  <div class="recipe">
    <div class="message">
      <div>
        <svg>
          <use href=""></use>
        </svg>
      </div>
      <p>Start by searching for a recipe or an ingredient. Have fun!</p>
    </div>

    <!-- <div class="spinner">
          <svg>
            <use href=".svg#icon-loader"></use>
          </svg>
        </div> -->

    <!-- <div class="error">
            <div>
              <svg>
                <use href=".svg#icon-alert-triangle"></use>
              </svg>
            </div>
            <p>No recipes found for your query. Please try again!</p>
          </div> -->

  </div>
</div>
